html{
  height: 100%;
  background-image: url('../img/p4.png');
  background-repeat: repeat;
}
body{
  height: 100%;
  padding-top:50px;
}

.hero{
  /* background-color: #efefef; */
  min-height: 500px;
  padding-bottom: 15%;
  border-bottom-style: dashed;
  border-width: 10px;
  border-color: #a9a9a9;
  height: 100%;
  background-image: url('../img/p4.png');
  background-repeat: repeat;
}
.hero h1{
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
.hero p{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  padding: 0px;
  margin:0px;
  background-color: #caebf2;
}
.portfolio-section{
  /* background-color: #efefef; */
  padding-top: 5%;
  height: 100%;
}


.example-text{
  font-family: 'Anton', sans-serif;
  color: #ff3b3f;
  font-size: 90px;
}
.about-section{
  height: 100%;
  padding-top:35px;
}
section h1{
  color: #ff3b3f;
  font-family: 'Anton', sans-serif;
}
.contact-section{
  background-color: black;
  color: white;
}
