
.hero{
  background-color: #efefef;
  min-height: 500px;
}
.hero h1{
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
.hero p{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  padding: 0px;
  margin:0px;
  background-color: #caebf2;
}
